In [30]:
import pandas as pd 
from glob import glob
import os

In [31]:
nfl_files = sorted(glob('data/NFL_*.csv'))
nfl_files

['data\\NFL_1.csv', 'data\\NFL_2.csv', 'data\\NFL_3.csv']

In [33]:
df = pd.concat((pd.read_csv(file).assign(filename =file)
           for file in nfl_df), ignore_index = True)

In [23]:
df.columns

Index(['Unnamed: 0', 'Player', 'Tm', 'Pos', 'Age', 'G', 'GS', 'Tgt', 'Rec',
       'PassingYds', 'PassingTD', 'PassingAtt', 'RushingYds', 'RushingTD',
       'RushingAtt', 'ReceivingYds', 'ReceivingTD', 'FantasyPoints', 'Int',
       'Fumbles', 'FumblesLost', 'Year ', 'filename', 'Year'],
      dtype='object')

In [28]:
df.head(5)

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,...,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,filename,Year
0,0.0,Christian McCaffrey,CAR,RB,23,16,16,142.0,116.0,0.0,...,287.0,1005.0,4.0,469.20,0.0,1.0,0.0,2019.0,data\NFL_1.csv,NaN
1,1.0,Lamar Jackson,BAL,QB,22,15,15,0.0,0.0,3127.0,...,176.0,0.0,0.0,415.68,6.0,9.0,2.0,2019.0,data\NFL_1.csv,NaN
2,2.0,Derrick Henry,TEN,RB,25,15,15,24.0,18.0,0.0,...,303.0,206.0,2.0,294.60,0.0,5.0,3.0,2019.0,data\NFL_1.csv,NaN
3,3.0,Aaron Jones,GNB,RB,25,16,16,68.0,49.0,0.0,...,236.0,474.0,3.0,314.80,0.0,3.0,2.0,2019.0,data\NFL_1.csv,NaN
4,4.0,Ezekiel Elliott,DAL,RB,24,16,16,71.0,54.0,0.0,...,301.0,420.0,2.0,311.70,0.0,3.0,2.0,2019.0,data\NFL_1.csv,NaN

In [29]:
#Shape is just an attribute that tells us the shape of our DataFrame in the format (rows, columns)
print(df.shape) 
print('We have', df.shape[0], 'players we can analyze for the 2021 season')
print('We have', df.shape[1], 'columns of data we can analyze for the 2021 season')

(1917, 24)
We have 1917 players we can analyze for the 2021 season
We have 24 columns of data we can analyze for the 2021 season